body pre:first-of-type {
    background:#333;
    color:orange;
    text-align:center
}
body {
    margin: 3em;
    color: #333333;
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;
}
a {
    color: #3232C8;
    text-decoration: none;
}
a:focus, a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Sans", "DejaVu Sans", sans;
}
.breadcrumb .active a {
    color: #404040;
}
.breadcrumb li.end {
    float: right;
}
.breadcrumb li.end a, 
.breadcrumb li.end a:visited,
.breadcrumb li.end a:active {
    color: #dfaf87;
    text-decoration: none;
}
.breadcrumb li.end a:hover {
    border-bottom: 1px solid #dfaf87;
    color: #dfaf87;
}
.breadcrumb li.end a.about,
.breadcrumb li.end a.about:visited,
.breadcrumb li.end a.about:active {
    color: #57A957;
    text-decoration: none;
}
.breadcrumb li.end a.about:hover {
    border-bottom: 1px solid #57A957;
    color: #57A957;
}
