  <header id="header">

    <a href="{{ .}}" title="{{ .Site.Title }}"><img id="header-illustration" src="/images/vde.png" /></a>

    <div>
      <h1>
        <summary>
          <em>French</em> developer, sysadmin, <abbr title="who does all kinds of work">factotum</abbr> and <span class="fan"><abbr title="as in free speek">free</abbr>-software <abbr title="You could say Evangelist">fan</abbr></span>.
        </summary>
      </h1>
      <ul class="nav">
        <li class="archive"><a href="/archive/">Archive</a></li>
        <li class="categories"><a href="/categories/">Categories</a></li>
        <li class="tags"><a href="/tags/">Tags</a></li>
      </ul>
    </div>
  </header>
