{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div id="main-container">
  <div id="page">
    <h1 class="emphnext">Archives</h1><a href='{{ .Permalink }}'></a>

    {{ range (where .Site.Pages "Section" "posts").GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    {{ range .Pages.GroupByDate "January" }}
    <h3>{{ .Key }}</h3>
    <ul>
      {{ range .Pages }}
      {{ .Render "summary" }}
      {{ end }}
    </ul>
    {{ end }}
    {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}
