{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div id="main-container" class="home">
  <div id="page">
    <h1 class="emphnext">Hi, I'm Vincent Demeester</h1>

    <h2>I'm a <em>french</em> developer 🐻, Gopher 🐹, sysadmin 🐺, <abbr title="who does all kinds of work"> factotum</abbr> 🦁, <span class="fan"><abbr title="as in free speek">free</abbr>-software <abbr title="You could say Evangelist">fan</abbr></span> 👼 and unicode lover 🐸.<br/> I'm working <a href="https://www.docker.com">@Docker</a> 🐳 as a software engineer, previously <a href="http://www.zenika.com/">Zenika</a> 🐯.</h2>

    <p>I develop mainly in <a href="http://golang.org/">Go</a>, a little bit of <a href="http://java.oracle.com">Java</a>, a tiny bit of <a href="http://python.org">Python</a> ;
      I'm learning <a href="http://haskell.org">Haskell</a> and LISP with <a href="http://clojure.org">Clojure</a> (and also Emacs Lisp). The more I learn about about Functionnal languages and their way of thinking, the more I feel enlighten. I'm using <a href="https://www.gnu.org/software/emacs/">Emacs</a> as my main editor and <a href="http://www.jetbrains.com/idea/">IntelliJ IDEA</a> for Java-related stuff.
      I'm a GNU/Linux user, mainly <a href="http://www.nixos.org">NixOS GNU/Linux</a>. I no longer use or need Microsoft<sup>®</sup> Windows<sup>®</sup> but I'm, <abbr title="means once in a year or something like that">sometimes</abbr>, using Mac OS X at work (but I don't really like OS X and Apple in general). I'm a <a href="https://fellowship.fsfe.org/">FSFE fellow</a> since 2010 (and previously a FSF fellow), <a href="http://www.framasoft.net">Framasoft</a> and <a href="http://lqdn.fr">La Quadrature du Net</a> supporter/donator. I also try to support various free software, like <a href="http://mediagoblin.org">Mediagoblin</a>.</p>


    <section id="posts">
      <h2>Latests Posts</h2>
      <div>
        <ul>
          {{ range first 15 .Data.Pages }}
          {{ .Render "summary"}}
          {{ end }}
        </ul>
      </div>
    </section>
  </div>
</div>

{{ partial "footer.html" . }}
