{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div id="main-container" class="home">
  <div id="page">
    <h1 class="emphnext">Hi, I'm Vincent Demeester</h1>

    <h2>I'm a <em>french</em> developer 🐻, Gopher 🐹, sysadmin 🐺, <abbr title="who does all kinds of work"> factotum</abbr> 🦁, <span class="fan"><abbr title="as in free speek">free</abbr>-software <abbr title="You could say Evangelist">fan</abbr></span> 👼 and unicode lover 🐸. I'm working <a href="https://www.redhat.com">RedHat</a> 🎩  as a principal software engineer, previously at <a href="https://www.docker.com">Docker</a> 🐳 and <a href="http://www.zenika.com/">Zenika</a> 🐯. I am a maintainer of the <a href="https://docker.com">docker project (<a href="https://github.com/moby/moby"><code>moby/moby</code></a>, <a href="https://github.com/docker/cli"><code>docker/cli</code></a>, …), the <a href="https://github.com/tektoncd">TektonCD</a> project (<code>tektoncd/*</code>) and a tiny bit of <a href="https://github.com/NixOS/nixpkgs">NixOS</a>.</h2>

    <section id="featured">
      <h2>Featured</h2>
      <div>
        <ul>
	  {{ range .Site.Taxonomies.tags.featured}}
	  {{ .Render "summary" }}
	  {{ end }}
        </ul>
      </div>
    </section>
    <section id="posts">
      <h2>Latests Posts</h2>
      <div>
        <ul>
          {{ range first 20 .Data.Pages }}
          {{ .Render "summary"}}
          {{ end }}
        </ul>
      </div>
    </section>
  </div>
</div>

{{ partial "footer.html" . }}
