@font-face {
    font-family: "CabinSketch";
    font-weight: bold;
    src: url("http://vincent.demeester.fr/css/fonts/CabinSketch-Bold.ttf") format("opentype");
}
@font-face {
    font-family: "Cabin";
    font-weight: normal;
    src: url("http://vincent.demeester.fr/css/fonts/Cabin-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "GraublauWeb";
    src: url("http://vincent.demeester.fr/css/fonts/GraublauWeb.otf") format("opentype");
}
@font-face {
    font-family: "GraublauWeb";
    font-weight: bold;
    src: url("http://vincent.demeester.fr/css/fonts/GraublauWebBold.otf") format("opentype");
}
@font-face {
    font-family: "Merriweather";
    src: url("http://vincent.demeester.fr/css/fonts/Merriweather-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Merriweather";
    font-weight: bold;
    src: url("http://vincent.demeester.fr/css/fonts/Merriweather-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Merriweather";
    font-weight: bold;
    font-style: italic;
    src: url("http://vincent.demeester.fr/css/fonts/Merriweather-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family: "Merriweather";
    font-style: italic;
    src: url("http://vincent.demeester.fr/css/fonts/Merriweather-Italic.otf") format("opentype");
}
@font-face {
    font-family: "Merriweather";
    font-weight: lighter;
    font-style: italic;
    src: url("http://vincent.demeester.fr/css/fonts/Merriweather-LightItalic.otf") format("opentype");
}
@font-face {
    font-family: "Merriweather";
    font-weight: lighter;
    src: url("http://vincent.demeester.fr/css/fonts/Merriweather-Light.otf") format("opentype");
}

html {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Merriweather", Palatino, georgia, "times new roman", serif;
    margin: 0;
    padding: 0;
}

/* Hack via Joel Spolsky to make image rescaling nicer in IE */
img { -ms-interpolation-mode:bicubic; }

/* IE6 ignores this and uses default size of 16pt */
p { margin: 0 0 1.5em 0; text-align: justify; }

a { text-decoration: none; color: #339; }
a:hover { text-decoration: underline; color: #33f; }
a.pdf:before { 
	margin-right: 1em;
	content: url(/files/css/icon_pdf.gif); }

h1,h2,h3,h4 { 
	line-height:1em; 
	font-size:1.5em; 
	clear: left; 	
	font-family: "Merriweather", "GraublauWeb", 'lucida grande', sans-serif; 
}
h1 { margin-bottom: 1em; }
body div.home div#page p {
    font-family: "Droid Sans", sans-serif;
}
body div.home div#page p:first-line {
	font-variant: normal;
	font-size: inherit;
}
span.fan {
    color: darkgreen;
}
#header span.fan {
    color: #ccc;
}
h2 {
	font-size: 100%;
	line-height: 1.5em;
	margin:1.5em 0 1.5em 0;
	font-weight:bold;
}

hr { 
	border-top: 1px solid silver;
	border-bottom: none;
	padding: 0;
	margin: 1.46em 0 0 0;
}

sup { line-height: 1ex; }

header, article, section, summary {
    display: block;
}

#header {
    position: fixed;
    left: 0;
    width: 18em;
    height: 100%;
    border-right: 1px solid #aaa;
    text-align: center;
}
#header-illustration {
  margin: 0 auto;
  width: 150px;
}

#header a {
    color: #fff;
}
#header div {
    position: absolute;
    bottom: 0;
    background-color: rgba(25,25,25,0.65);
}
#header summary {
    margin: 1em 0 2em;
    text-align: right;
    font-size: 0.8em;
    color: #eee;
    padding: 0 1em;
}
#header ul.nav li {
    display: inline;
    text-align: center;
    padding: 0.2em;
    margin: 0;
}
#main-container {
    min-height: 100%;
}
#page, #footer {
    overflow: hidden;
    margin-left: 18em;
}
#footer {
    margin-top: 1em;
    padding: 1em 2em;
    border-top: 1px solid #eee;
    background-color: #fafafa;
}
#page {
    margin-top: 0;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}
#page header h1 {
    font-size: 2em;
    margin-bottom: 0;
}
#page header address.signature {
    color: #999;
    display: inline;
}

blockquote {
    padding: 0 2em;
    background: #aaa;
    padding: 1em 3em;
    margin-left: -2em;
    margin-right: -2em;
}
blockquote:before {
    color: #fefefe;
    content: "“";
    display: block;
    font: italic 500%/1 "Neucha",serif;
    height: 0;
    margin-left: -0.6em;
    padding-top: 10px;
}
blockquote.aside {
    background: none repeat scroll 0 0 SlateGray;
    color: #EEEEEE;
    float: right;
    margin-left: 36em;
    position: absolute;
    width: 12em;
    z-index: 150;
}

.note {
	padding-top: 0.5em; 
	background-color: #fafaff;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

pre, code {
    font-family: Ubuntu Mono, Droid Sans Mono, Consolas, monospace;
}

pre {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f6f6f6;
    color: #333;
    padding: 1em 2em;
    margin-left: -2em;
    margin-right: -2em;
}
pre:hover {
    border-right: none;
    overflow: visible;
}
code {
    font-size: 1em;
    background-color: #f7f7ff;
    color: green;
    line-height: 1.4em;
}
pre > code {
    background-color: transparent;
    color: #000;
}

#page header {
    margin-bottom: 1em;
}

#page header ul.tag_box {
    margin: 0 0.5em;
    padding: 0;
    display: inline;
}
ul.inline li {
    display: inline;
    text-align: center;
    padding: 0.2em;
    margin: 0;
}
ul.inline.tag_box li {
    padding: 0;
}
ul.tag_box li a{
    background:#006400;
    color:#fff;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;	
    border-radius:4px;
    padding: 1px 4px;
}
ul.tag_box li a span {
    font-weight: bold;
    font-size: 0.5em;
}

/*
body.gray #header {
    background: url(../images/bg_gray.png);
}
body.yellow #header {
    background: url(../images/bg_yellow.png);
}
body.green #header {
    background: url(../images/bg_green.png);
}
body.red #header {
    background: url(../images/bg_red.png);
}
*/

body div.home div#page dd {
    margin: 0;
    padding-left: 23px !important;
    background-position: 0 50% !important;
    background-repeat: no-repeat !important;
}
body dev.home div#page dd.mail {
    background:url("../images/email.png");
}
body div.home div#page dd.gnupg {
    background:url("../images/key.png");
}
body div.home div#page dd.jabber {
    background:url("../images/user_gray.png");
}
body div.home div#page dd.irc {
    background:url("../images/comments.png");
}
